
.btn .bx {
  vertical-align: inherit;
  margin-top: -3px;
  font-size: 1.15rem;
}


.bx.icon-single {
  font-size: 1.5rem;
}

.bxs-cart:before {
  font-size: 170%; 
}

.badge {
  font-size:52%;
}


a {
  font-size:14px;
}


.form-control {
  outline:none !important;
  box-shadow: none !important;
}
@media screen and (max-width:540px){
  .centerOnMobile {
    text-align:center
  }
}

/* search bar size */
  @media (min-width: 1200px) {
    .form-inline .form-control {
      width: 400px;
    }
  } 

/* user name  */
  #loginbtn{
    left: 87% ;
    top: 68%;
  } 
