
<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand"  routerLink="/"><i class="fa-solid fa-shop me-2"></i> <strong>GEAR SHOP</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

   
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <form class="d-flex form-inline my-2 my-lg-0 mx-auto">
        <input class="form-control" type="search" placeholder="Search for products..." aria-label="Search">
        <button class="btn bg-white" type="submit">
          <i class="fa fa-search"></i>
         </button>
      </form> 

      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="#">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">Products</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">Catalog</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catalog
          </a>
          <ul class="dropdown-menu"  aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

      
      </ul>
      <ul class="navbar-nav ms-auto ">

        <li class="nav-item">
          <a class="btn btn-link" routerLink="cart"><i class="bx bxs-cart icon-single"></i>
            <span class="badge bg-danger">{{ cartItemCount }}</span>
          </a>
        </li>
        
        <div *ngIf="!isLoggedIn">
          <li class="nav-item">
             <a class="btn btn-info" (click)="login()"> <i class="fa fa-user"></i>Log In</a>
            
           </li>

       </div>
     
        <div *ngIf="isLoggedIn">
          <li class="dropdown-toggle" data-bs-toggle="dropdown">   
            <a class="btn btn-defualt" href="#">{{ username }}</a>
          </li> 
          <ul class="dropdown-menu loginbtn" id="loginbtn" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"><i class="fa fa-user-plus"></i> Register</a></li>
           <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa fa-list"></i> My Orders</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa fa-heart"></i> My Wishlist</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa fa-shopping-cart"></i> My Cart</a></li>
          <div *ngIf="isLoggedIn">
            <li><a routerLink="/" (click)="logout()" class="dropdown-item"><i class="fa fa-sign-out"></i>Logout</a></li>
          </div>
            </ul>
        </div>     
        
      </ul>
    </div>
  </div>
</nav>

