
 <!-- <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-md-3" *ngFor="let product of products">
        <div class="product-card">
          <img [src]="product.image" alt="{{product.title}}">
          <div class="product-title">{{product.title}}</div>
          <div class="product-price">{{product.price }}</div>
          <div class="product-description">{{product.description}}</div>
          <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div> -->
    
  <div class="py-3 py-md-3 ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="mb-4">Our Products</h4>
            </div>
                    <div class="col-md-3"  *ngFor="let product of products">
                        <div class="product-card">
                            <div class="product-card-img">
                              <label class="stock"
                              [ngClass]="{'bg-success': product.stock_quantity > 1, 'bg-danger': product.stock_quantity <= 1}">
                         {{ product.stock_quantity > 1 ? 'In Stock' : 'Out Stock' }}
                       </label>
                                  <img [src]="product.image">
                            </div>
                            <div class="product-card-body">
                                <!-- <p class="product-brand">HP</p> -->
                                <h5 class="product-name">
                                  <a href="">{{product.product_name}}</a>
                                </h5>
                                <div>
                                    <span class="selling-price">{{product.sales_price - product.discount_amount}}</span>
                                    <span class="original-price">{{product.sales_price }}</span>
                                </div>
                                <div class="mt-2">
                                  <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div> 