.product-card {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .product-card .product-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .product-card .product-price {
    font-size: 1.1em;
    color: #28a745;
    margin-bottom: 10px;
  }
  
  .product-card .product-description {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 15px;
  }
  
  .product-card .btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }
  




  /* Product Card */
.product-card{
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 24px;
}
.product-card a{
  text-decoration: none;
}
.product-card .stock{
  position: absolute;
  color: #fff;
  border-radius: 4px;
  padding: 2px 12px;
  margin: 8px;
  font-size: 12px;
}
.product-card .product-card-img{
  max-height: 220px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.product-card .product-card-img img{
  width: 100%;
}
.product-card .product-card-body{
  padding: 10px 10px;
}
.product-card .product-card-body .product-brand{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  color: #937979;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-card .product-card-body .product-name{
  font-size: 20px;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-card .product-card-body .selling-price{
  font-size: 22px;
  color: #000;
  font-weight: 600;
  margin-right: 8px;
}
.product-card .product-card-body .original-price{
  font-size: 18px;
  color: #937979;
  font-weight: 400;
  text-decoration: line-through;
}

/* Product Card End */


.product-card-img img{
    height: 152.66px;
    width: 229px;
}