<div class="cart_body">
    <div class="container" *ngIf="products.length > 0">
        <div class="row">
            <div class="col-xl-8">
                <div class="card border shadow-none" *ngFor="let product of products">
                    <div class="card-body">
                        <div class="d-flex align-items-start pb-3">
                            <div class="me-4">
                                <img [src]="product.image" alt="" class="avatar-lg rounded">
                            </div>
                            <div class="flex-grow-1 align-self-center overflow-hidden">
                                <div>
                                    <h5 class="text-truncate font-size-18">
                                        <a href="#" class="text-dark">{{product.product_name}}</a>
                                    </h5>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="mt-3">
                                                <p class="text-muted mb-2">Price</p>
                                                <h5 class="mb-0 mt-2">{{product.sales_price - product.discount_amount}}
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="mt-3">
                                                <p class="text-muted mb-2">Quantity</p>
                                                <div class="d-inline-flex">
                                                    <!-- <select class="form-select form-select-sm w-xl" (change)="onQuantityChange($event, product)">
                                      <option *ngFor="let qty of [1, 2, 3, 4, 5, 6, 7, 8]" [value]="qty" [selected]="qty === product.stock_quantity">{{qty}}</option>
                                    </select> -->
                                                    <input type="number" class="form-control form-control-sm w-xl"
                                                        [value]="product.stock_quantity"
                                                        (input)="onQuantityChange($event, product)" min="1" max="1000">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 d-flex align-items-center">
                                            <div class="mt-3">
                                                <p class="text-muted mb-2">Total</p>
                                                <h5 class="mb-0">{{(product.sales_price - product.discount_amount) *
                                                    product.stock_quantity}}</h5>
                                            </div>
                                            <button class="btn btn-link text-danger p-0 ms-3"
                                                (click)="removeProduct(product.product_id)">
                                                <i class="bx bx-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end card -->

                <div class="row my-4">
                    <div class="col-sm-6">
                        <a routerLink="/home" class="btn btn-link text-muted">
                            <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping </a>
                    </div> <!-- end col -->
                    <div class="col-sm-6">
                        <div class="text-sm-end mt-2 mt-sm-0">

                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row-->

            </div>

            <div class="col-xl-4">
                <div class="mt-5 mt-lg-0">
                    <div class="card border shadow-none">
                        <div class="card-header bg-transparent border-bottom py-3 px-4">
                            <h5 class="font-size-16 mb-0">Order Summary <span class="float-end">#MN0124</span></h5>
                        </div>
                        <div class="card-body p-4 pt-2">

                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <td>Sub Total :</td>
                                            <td class="text-end">$ 780</td>
                                        </tr>
                                        <tr>
                                            <td>Discount : </td>
                                            <td class="text-end">- $ 78</td>
                                        </tr>
                                        <!-- <tr>
                                            <td>Shipping Charge :</td>
                                            <td class="text-end">$ 25</td>
                                        </tr> -->
                                        <!-- <tr>
                                            <td>Estimated Tax : </td>
                                            <td class="text-end">$ 18.20</td>
                                        </tr> -->
                                        <tr class="bg-light">
                                            <th>Total :</th>
                                            <td class="text-end">
                                                <span class="fw-bold">
                                                    $ 745.2
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- end table-responsive -->
                            <div class="row my-4">
                                <div class="col-sm-6">
                                </div> <!-- end col -->
                                <div class="col-sm-6">
                                    <div class="text-sm-end mt-2 mt-sm-0">
                                        <a href="ecommerce-checkout.html" class="btn btn-success">
                                            <i class="mdi mdi-cart-outline me-1"></i> Checkout </a>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div>
    <div *ngIf="products.length === 0" class="no-records-container">
        <span>No Record Found.</span>
    </div>
</div>